html, body {
    height: 100%; /* Ensure the html and body take up the full height */
    margin: 0; /* Remove default margin */
}
body {
    background-image: url(background.jpg); 

}
.utility-row {
    display: flex;  /* align items in a row */
    flex-direction: row;
    justify-content: space-between;  /*distribute space between items */
    padding: 10px;  /* adds padding around the utility row */
    background-image: url(background.jpg);  /* set background image */
    background-size: cover;    /*set background to cover the entire space */
    height: 100vh;
    margin: 0;
}
.utility-row a {
    color: #000; /* Default text color */
    display: inline-block; /* Makes links respect width and height */
    padding: 10px 15px; /* Adds padding around links */
    margin: 0 5px; /* Adds space between links */
}

.utility-row a:hover {
    color: #ff6347; /* Change this color to your desired hover color */
    background-color: rgba(255, 99, 71, 0.1); /* Optional: add a background color on hover */
}


    
@font-face {
    font-family: Ubuntu;
    src: url(Fonts/Ubuntu-Regular.woff);
}
@font-face {
    font-family: Komi;
    src: url(Fonts/KOMIKAX_.woff);
}

body{
    margin: 0;
}

.contain-all{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.title{
    font-family: Komi;
    margin-left: 15px;
}

/* everyhting between the auto and home divs will be moved with it. If anyone wants to play with flexbox to make
    this system cleaner please be my guest*/
.auto{
    margin-left: auto;
}
.home{
    margin-left: auto;
}

.utility-row{
    display: flex;
    background-color: rgb(139, 138, 135, .2);
    overflow: hidden;

}


    .utility-row div{
    /* unecessary once all divs are replaced with a's in utility row */
        font-family: Ubuntu;
        justify-content: center;
        color: black;
        font-size: 18px;
        padding: 35px 14px;
    }
    .utility-row a{
        font-family: Ubuntu;
        justify-content: center;
        color: black;
        font-size: 18px;
        padding: 35px 14px;
    }
        .utility-row a:hover {
            background-color: rgb(184, 183, 183, .2);
            color: orangered;
        }

        .utility-row a:active{
            background-color: rgba(235, 164, 71, 0.616);
            color: white;
        }

.header {
    color: black;
    font-family: Arial;
    justify-content: center;
} 
